@import "tailwindcss";

@theme {
    --cor-primaria: #7fbc03;
    --cor-fundo: var(--cor-fundo);
    --cor-texto: var(--cor-texto);
    --cor-texto-branco: var(--cor-texto-branco);
}

:root {
    --cor-primaria: #7fbc03;
    --cor-fundo: #fff;
    --cor-texto: #5e5e5e;
    --cor-texto-branco: #f6fbee;
    --cor-texto-preto: #1d1d1d;
    --cor-borda-card: #e5e5e5;
    --cor-borda-interna: #e5e7eb;
}

* {
    outline: none;
}

body {
    min-height: 100dvh;
    display: flex;
}

main {
    flex-grow: 1;
}

h1 {
    font-size: 48px;
    font-weight: 700;
}

input[type="text"],
input[type="password"] {
    padding: 8px 4px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: var(--cor-texto, #5e5e5e);
}

input[type="button"],
input[type="submit"] {
    padding: 12px 8px;
    border-radius: 50px;
}

input[type="button"],
input[type="submit"],
button {
    cursor: pointer;
}

.btn-primary-white {
    background: var(--cor-fundo, #fff);
}

.login-btn {
    width: 184px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    accent-color: var(--cor-primaria);
    border: 1px solid var(--cor-fundo);
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 32px;
    }
}
